express, cors, mongoose, dotenv, jsonwebtoken

https://www.digitalocean.com/community/tutorials/nodejs-jwt-expressjs
# here is an article about jsonwebtoken


# npm i bcrypt@<version>
# const bcrypt = require("bcrypt");
# const saltRounds = 10;

# bcrypt.hash(req.body.password, saltRounds, function(err, hash) {
#  //returns the hashed ver or password   
#   });

# //Compare between input password and database password.
# bcrypt.compare(req.body.password, foundUser.password, function(error, result) {
#   if(result) {
#     res.render("secrets");
#   }
# });
